{% extends "base.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>INFO3180 Lab 2</title>
    <link rel="stylesheet" type="text/css" href="../static/css/profile.css"/>
</head>
<body>
    <h1>Profile</h1>
    <img src="../static/Darth-Vader.jpg" id="ProfilePic">
    <div class="biobox">
        <div id="Name"><b>Darth Vader</b></div>
        <div id="Date" class="bottomborder">Today's date is </div>
        <div id="UserName"><b>Username:</b> Darth-Vader</div>
        <div id="IDNum"><b>ID Number:</b> 620012345</div>
        <div id="Age"><b>Age:</b> 45</div>
        <div id="Gender" class="bottomborder"><b>Gender:</b> Male</div>
        <div id="AboutMe">Dark Lord of the Sith</div>
    </div>
</body>
<>